<div>
  <h1 class="principal" appHighlight>{{ title }}</h1>
</div>
<nav>
  <a [routerLink]="['/inicio']">Inicio</a> |
  <a *ngIf="isAdmin" [routerLink]="['/bingo']">Bingo</a> |
  <a *ngIf="isAdmin" [routerLink]="['/chat']">Chat</a> |
  <a *ngIf="isAdmin" [routerLink]="['/usuarios']">Usuarios</a> |
  <a [routerLink]="['/pizzas']">Pizzas</a> |
  <a [routerLink]="['/pizzas/Margarita']">Pizza Margarita</a> |
  <a [routerLink]="['/no-existe']">No lleva a ningun sitio</a>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
