<div class="chat-client">
  <div>
    <label>Nombre:</label>
    <input type="text" [(ngModel)]="name" />
    <button (click)="connect()">Conectar</button>
  </div>
  <div>
    <ul>
      <li *ngFor="let m of chat">
        {{ m.channel }} {{ m.from }}: {{ m.ts | date }} {{ m.message }}
      </li>
    </ul>
  </div>

  <div>
    <input
      type="text"
      [(ngModel)]="message"
      (keyup.enter)="sendMessage(message)"
    />
  </div>

  <div *ngIf="error" class="error">
    {{ error }}
  </div>
</div>
