.user {
  border: 1px solid #000044;
  margin: 1em;
  padding: 0.5em 2em;
}
.user {
  div {
    display: inline;
  }
}
span {
  font-weight: bold;
}
.property {
  padding-left: 1em;
  padding-right: 1em;
}
