.list-pizzas {
  background-color: #ebebf7;
  padding: 1rem;
}
h1 {
  text-align: center;
}
.pizza-container {
  border: 3px solid blue;
  padding: 1rem;
}
.pizza {
  display: inline-block;
  border: 2px solid #000080;
  background-color: #fff;
  padding: 1rem;
  margin: 2rem;
}
.name {
  font-size: 1.5rem;
  font-weight: bold;
  width: 18rem;
}
.price {
  font-size: 1.3rem;
  text-align: right;
}
.vegan {
  color: #00c000;
}
.carnivora {
  color: #c00000;
}
.spinner {
  width: 10rem;
}
.photo img {
  width: 18rem;
}
